# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.gitattributes

# Other
.spyproject/
*.pyc
.ipynb_checkpoints
.DS_Store
.vscode
docs/module-00-06_Contributing.md
docs/_build/
docs/_work/
docs/_scratch


docs/01-Lectures/04-ARMA/00-Introduction.md
!docs/01-Lectures/04-ARMA/01-ARMA-part-1.ipynb
!docs/01-Lectures/04-ARMA/02-ARMA-part-2.ipynb
