# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.gitattributes

# Other
.spyproject/
*.pyc
.ipynb_checkpoints
.DS_Store
.vscode
docs/module-00-06_Contributing.md
docs/_build/
docs/_work/
docs/_scratch

docs/01-Lectures/02-Gaussian/
!docs/01-Lectures/02-Gaussian/00-Introduction.md
!docs/01-Lectures/02-Gaussian/01-01-Multivariate-normal-distribution.ipynb

docs/01-Lectures/03-MLE/
!docs/01-Lectures/03-MLE/00-Introduction.md
!docs/01-Lectures/03-MLE/01-MLE.ipynb


docs/01-Lectures/04-ARMA/
!docs/01-Lectures/04-ARMA/01-ARMA-part-1.ipynb
!docs/01-Lectures/04-ARMA/02-ARMA-part-2.ipynb

docs/00-Data/
!docs/00-Data/00-Data.md
!docs/00-Data/01-ECB.ipynb


docs/03-Assignments/
docs/03-Assignments/HW0/*
docs/03-Assignments/HW1/*

